.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    user-select: none;
}

.profileContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%; 
}

.profileText {
    max-width: 40%;
    flex-grow: 1; 
}

.profileText h1, .profileText h2 {
    margin: 0; 
    display: block;
    margin-top: 10px;
}

.profileImage {
    max-height: 300px;
    width: auto;
    border-radius: 50%; 
}

.typing {
    white-space: nowrap; 
    overflow: hidden; 
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
