@font-face {
    font-family: 'YinPing';
    src: url('../fonts/YinPing.ttf') format('truetype');
}

:root {
  /* 定義亮色主題變量 */
  --bg: 0.97 0.01 275;
  --bc: 0.2 0.01 275;
  --a: 0.8763563318872611 0.07936695661761213 179.84149083374814;
  --tw-text-opacity: 1;
  --fallback-bg: oklch(var(--bg) / 1);
  --fallback-bc: oklch(var(--bc) / 1);
  --fallback-a: oklch(var(--a)/var(--tw-text-opacity));
  --bg-opacity: 0;

  --rank-5-color: #FF9C73;
  --rank-4-color: #A37EBA;
  --rank-3-color: #9198ac;
}

[data-theme="dark"] {
  --bg: 0.2 0.01 275;
  --bc: 0.9 0.01 275;
  --fallback-bg: oklch(var(--bg) / 1);
  --fallback-bc: oklch(var(--bc) / 1);
  --bg-opacity: 1;
  --rank-5-color: #FF7F50;
  --rank-4-color: #9370DB;
  --rank-3-color: #778899;
}

:root, [data-theme] {
  background-color: var(--fallback-bg);
  color: var(--fallback-bc);
  font-family: 'YinPing', sans-serif; 
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: var(--fallback-bg);
  background-image: var(--backgroundImage);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

body {
  min-height: 100vh; 
  background-color: var(--fallback-bg);
  overflow-y: auto;
  transition: background-color 0.5s ease, 
              color 0.5s ease,
              background-image 0.5s ease;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/darkbg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: var(--bg-opacity);
  transition: opacity 0.5s ease;
  z-index: -1;
}

.themeSwitchContainer {
  position: fixed; 
  top: 10px;
  right: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto; 
  width: auto; 
  max-width: 100%; 
  height: fit-content;
  border: 1px solid var(--fallback-bc);
  border-radius: 15px;
  padding: 10px;
}

.themeSwitchContainer button {
  margin: 0;
  padding: 0 5px;
  border: none;
  cursor: pointer;
  background: none;
  color: var(--fallback-bc);
}

.themeSwitchContainer button:hover { 
  cursor: pointer;
}

@media (max-width: 600px) {
  .themeSwitchContainer {
      flex-direction: column; 
      width: 90%; 
  }
}
