.contentContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 5vh;
}
  
.contentContainer h1 {
    color: var(--fallback-bg);
    font-weight: thin;
    font-size: calc(0.8rem + 0.5vw);
    text-align: center;
    letter-spacing: 0.1em;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #86ab89;
}
  
.contentContainer a {
    color: var(--fallback-bc);
    font-size: 1.1rem;
    text-align: center;
}

.mangaPageListContainer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .mangaPageItem {
    margin: 10px;
    position: relative;
  }
  
  .imageWrapper {
    position: relative;
    display: inline-block;
  }
  
  .imageWrapper img {
    display: block;
    width: 100%; 
    height: auto; 
  }
  
  .pageNumber {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.6); 
    padding: 4px 8px;
    border-radius: 4px;
    color: #fff;
    font-size: 14px; 
    text-align: center;
    white-space: nowrap;
    user-select: none;
  }

.tagsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
  gap: 5px;
}

.watchHistoryContainer {
    display: flex;
    flex-direction: column;
    max-width: calc(100px + 15vw);
    margin-top: 20px;
    max-height: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
}

.tags {
    outline: 1px solid #86ab89;
    border-radius: 5px;
    padding: 3px;
    background-color: #a2a2a233;
    cursor: pointer;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    outline: 1px solid #86ab89;
    max-width: calc(100px + 15vw);
}

.parentContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start; 
  gap: 2rem;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.mangaContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--bc);
  color: var(--fallback-bc);
  width: 100%;
  max-width: calc(540px + 10vw); /* 自适应宽度 */
  outline: 1px solid #86ab89;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

.mangaContainer img {
  border-radius: 10px;
  width: 25vw; /* 图片宽度占 25% 视窗宽度 */
  height: auto; /* 保持图片比例 */
  object-fit: cover; /* 图片裁剪模式 */
  transition: transform 0.2s ease;
}

.mangaContainer .mangaTitle {
  font-weight: thin;
  font-size: calc(0.8rem + 0.5vw);
  text-align: center;
  letter-spacing: 0.1em;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #86ab89;
  margin: 0;
  padding: 0;
}

.mangaId {
    color: #a2a2a2;
    font-size: 1rem;
}

.mangaPageContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.mangaPageListContainer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.mangaPageListContainer img {
    width: calc(100px - 0.2vw);
    height: 100%;
    border-radius: 5px;
}
  
.searching {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.mouseContainer {
  position: relative;
  width: 100%;
  height: 100%;
  pointer-events: none; 
}

.mousePointer {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  pointer-events: none;
}

.userName {
  margin-bottom: 4px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2px 5px;
  border-radius: 3px;
  color: white;
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
}

  .button {
    font-size: calc(0.4rem + 0.5vw);
    flex-shrink: 0; 
    white-space: nowrap;
    background: var(--fallback-bg);
    border-radius: 10px;
    color: var(--fallback-bc);
    padding: 10px;
    border: none;
    cursor: pointer;
    user-select: none;
    outline: 2px solid #86ab89;
    font-family: "YinPing", YinPing-JP, sans-serif;
    max-width: fit-content;
  }

  .input {
    width: 100%;
    background: none;
    border: none;
    border-radius: 5px;
    color: var(--fallback-bc);
    font-size: 1.1rem;
    margin-right: 10px;
    outline: none;
    padding: 10px;
    font-family: "YinPing", YinPing-JP, sans-serif;
  }
  
  .input.active {
    outline: 2px solid #86ab89;
  }
  
  .input:focus {
    outline: 2px solid #86ab89;
  }
  
  .input:not(:placeholder-shown):focus {
    outline: 2px solid #86ab89;
  }
  
  .input:focus:not(:placeholder-shown) {
    outline: 2px solid #86ab89;
  }
  
  .input::placeholder {
    user-select: none;
  }

  .infoContainer {
    display: flex;
    flex-direction: column;
    position: relative; /* 确保定位在父容器中有效 */
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: fit-content;
    max-height: 80vh; /* 限制最大高度 */
    overflow-y: auto; /* 可滚动内容 */
    text-align: left;
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
  }

  .infoContainer ul {
    padding: 0;
    margin: 0;
    list-style-position: inside;
  }
  
  .infoContainer ul li {
    color: #86ab89;
  }

.closeButton {
  position: sticky;
  top: 3px;
  right: 10px;
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1100;
}

.closeButton:hover {
  color: #f05454; /* 懸停時更醒目的顏色 */
}

  .usersContainer {
    position: relative;
    bottom: 0;
    left: 0;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: var(--bc);
    width: fit-content;
    max-width: 200px;
    max-height: 100px;
    overflow-y: auto;
    text-align: left; 
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
    color: var(--fallback-bc);
    user-select: none;
  }
  
  .usersContainer ul {
    padding: 0;
    margin: 0;
    list-style-position: inside;
  }
  
  .usersContainer ul li {
    color: #86ab89;
  }

  .searchTitle {
    margin: 6px 0 0 20px;
    padding: 0;
  }
  
  .searchResultsHeader {
    position: sticky;
    top: 0;
    left: 0;
    width: fit-content;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    background-color: var(--bc);
    z-index: 10;
    padding: 3px;
  }
  
  .searchResultsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 10px;
    background-color: var(--bc);
  }
  
  .searchResultItem {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--bc);
    margin: 3px;
    outline: 1px solid #86ab89;
    cursor: pointer;
  }

  .searchResults {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.85); 
    outline: 3px solid #86ab89; 
    color: #fff; 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4); 
    z-index: 1000; 
    max-height: 70vh; 
    overflow-y: auto;
    width: 60%; 
    max-width: 75vw;
    transition: transform 0.3s ease, opacity 0.3s ease; 
    max-height: 70vh;
  }
  
  .searchResults::-webkit-scrollbar {
    width: 5px;
  }
  
  .searchResults::-webkit-scrollbar-thumb {
    background: #90c293;
    border-radius: 2.5px;
  }
  
  .searchResults::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
  }

  .mangaTitle {
    display: -webkit-box; /* 用於啟用 Webkit 的盒模型 */
    line-clamp: 3; /* 限制顯示的行數 */
    -webkit-line-clamp: 3; /* 限制顯示的行數 */
    -webkit-box-orient: vertical; /* 設置盒子為垂直方向 */
    overflow: hidden; /* 隱藏超出的文本 */
    text-overflow: ellipsis; /* 添加省略號 */
    white-space: normal; /* 允許文本換行 */
  }

.paginationContainer {
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.pageButton {
    font-size: 1.1rem;
    flex-shrink: 0; 
    white-space: nowrap;
    background: var(--fallback-bg);
    border-radius: 10px;
    color: var(--fallback-bc);
    padding: 10px;
    border: none;
    cursor: pointer;
    user-select: none;
    outline: 2px solid #86ab89;
    font-family: "YinPing", YinPing-JP, sans-serif;
    max-width: fit-content;
}

.activePage {
  font-size: 1.1rem;
  flex-shrink: 0; 
  white-space: nowrap;
  background: #86ab89;
  border-radius: 10px;
  color: var(--fallback-bc);
  padding: 10px;
  border: none;
  cursor: pointer;
  user-select: none;
  outline: 2px solid #86ab89;
  font-family: "YinPing", YinPing-JP, sans-serif;
  max-width: fit-content;
}
  
.searchResultsFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
  
.thumbnail {
  width: 240px;
  height: 320px;
  object-fit: cover;
  border-radius: 1%;
  margin-right: 10px;
}