.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  user-select: none;
}

.contentContainer h1 {
  padding-top: 5vh;
  color: var(--fallback-bg);
  font-weight: thin;
  font-size: calc(1.5rem + 1vw);
  text-align: center;
  letter-spacing: 0.1em;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #86ab89;
}

.contentContainer a {
  color: var(--fallback-bc);
  font-size: 1.1rem;
  text-align: center;
}

.contentLower {
  display: flex;
  justify-content: center; /* 水平置中 */
  align-items: center; /* 垂直置中 */
  height: 35vh;
  opacity: 1; /* 確保可見 */
  transition: opacity 0.5s ease; /* 平滑過渡 */
}

.infoContainer {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 0;
}

.usersContainer {
  position: relative;
  bottom: 0;
  left: 0;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: var(--bc);
  width: fit-content;
  max-width: 200px;
  max-height: 100px;
  overflow-y: auto;
  text-align: left; /* 文字靠左 */
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
  color: var(--fallback-bc);
}

.usersContainer ul {
  padding: 0;
  margin: 0;
  list-style-position: inside;
}

.usersContainer ul li {
  color: #86ab89;
}

.loggerContainer {
  flex: 1;
  position: relative;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  outline: 2px solid var(--fallback-bc);
  max-height: 20vh; /* 設置最大高度 */
  text-align: left; /* 文字靠左 */
  box-sizing: border-box; /* 包含 padding 和 border */
  overflow-y: scroll;
  overflow-x: hidden;
}

.loggerContainer::-webkit-scrollbar {
  width: 5px;
}

.loggerContainer::-webkit-scrollbar-thumb {
  background: #90c293;
  border-radius: 2.5px;
}

.loggerContainer::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

.loggerContainer ul {
  list-style: none; /* 移除項目符號 */
  padding: 0;
  margin: 0;
  text-align: left; /* 文字靠左 */
}

.loggerContainer li {
  margin: 5px 0;
  font-size: 14px;
}

.logTime {
  color: gray;
  font-size: 12px;
  margin-right: 5px;
}

.logMessage {
  font-size: 14px;
  color: var(--fallback-bc);
}

.savedPlaylistsContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  max-height: 280px; /* 設置最大高度 */
  outline: 2px solid var(--fallback-bc);
  overflow-y: scroll;
  overflow-x: hidden;
}

.savedPlaylistsContainer::-webkit-scrollbar {
  width: 5px;
}

.savedPlaylistsContainer::-webkit-scrollbar-thumb {
  background: #90c293;
  border-radius: 2.5px;
}

.savedPlaylistsContainer::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

.savedPlaylistItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 30px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--bc);
}

.messageInput {
  background: var(--fallback-bg);
  border: none;
  border-radius: 5px;
  color: var(--fallback-bc);
  font-size: 1.1rem;
  margin-right: 10px;
  outline: none;
  padding: 10px;
  font-family: "YinPing", YinPing-JP, sans-serif;
}

.audioControls input {
  background: none;
  border: none;
  border-radius: 5px;
  color: var(--fallback-bc);
  font-size: 1.1rem;
  margin-right: 10px;
  outline: none;
  padding: 10px;
  font-family: "YinPing", YinPing-JP, sans-serif;
}

.audioControls input.active {
  outline: 2px solid #86ab89;
}

.audioControls input:focus {
  outline: 2px solid #86ab89;
}

.audioControls input:not(:placeholder-shown):focus {
  outline: 2px solid #86ab89;
}

.audioControls input:focus:not(:placeholder-shown) {
  outline: 2px solid #86ab89;
}

.audioControls input::placeholder {
  user-select: none;
}

.searching {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searching::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 4px solid #86ab89;
  border-top: 4px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.searchResultsHeader {
  position: sticky;
  top: 0;
  left: 0;
  width: fit-content;
  max-width: 100%;
  background-color: var(--bc);
  z-index: 10;
  padding: 3px;
}

.searchResultsList {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
  background-color: var(--bc);
}

.searchResults {
  position: fixed; /* 固定位置 */
  top: 50%; /* 垂直居中 */
  left: 50%; /* 水平居中 */
  transform: translate(-50%, -50%); /* 精確居中 */
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.85); /* 更深的半透明背景 */
  outline: 3px solid #86ab89; /* 綠色邊框 */
  color: #fff; /* 白色文字 */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4); /* 加強陰影效果 */
  z-index: 1000; /* 確保在其他內容之上 */
  max-height: 70vh; /* 更合適的高度限制 */
  overflow-y: auto; /* 垂直滾動 */
  width: 60%; /* 調整寬度比例 */
  max-width: 75vw; /* 設定最大寬度以限制過寬 */
  transition: transform 0.3s ease, opacity 0.3s ease; /* 添加動畫效果 */
  max-height: 50vh; /* 限制最大高度 */
}

.searchResults::-webkit-scrollbar {
  width: 5px;
}

.searchResults::-webkit-scrollbar-thumb {
  background: #90c293;
  border-radius: 2.5px;
}

.searchResults::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

.trackTitle {
  margin: 0 10px 0 10px;
}

.closeButton {
  position: sticky;
  top: 3px;
  right: 10px;
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1100;
}

.closeButton:hover {
  color: #f05454; /* 懸停時更醒目的顏色 */
}

.searchResultItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--bc);
  margin-top: 10px;
}

.button {
  font-size: 1.1rem;
  flex-shrink: 0; /* 防止按鈕被壓縮 */
  white-space: nowrap; /* 防止文字換行 */
  background: var(--fallback-bg);
  border-radius: 10px;
  color: var(--fallback-bc);
  padding: 10px;
  border: none;
  cursor: pointer;
  user-select: none;
  outline: 2px solid #86ab89;
  font-family: "YinPing", YinPing-JP, sans-serif;
  max-width: max-content;
}

.button:hover {
  transform: scale(1.1);
}

.immersive {
  background-color: var(--fallback-bg);
  color: var(--fallback-bc);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playerContainer {
  flex: 1; /* 佔滿剩餘空間 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  position: relative;
  overflow-y: scroll;
  background: none;
  border-radius: 10px;
  outline: 2px solid var(--fallback-bc);
}

.playerContainer::-webkit-scrollbar {
  width: 5px;
}

.playerContainer::-webkit-scrollbar-thumb {
  background: #90c293;
  border-radius: 2.5px;
}

.playerContainer::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.2rem;
  color: #666;
}

/* 置中物件 */
.huge {
  position: relative; /* 為子元素提供定位基準 */
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0;
  margin: 0 auto;
  width: 80vw;
  height: 90vh;
  outline: none;
  aspect-ratio: 16 / 9;
}

.huge iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
}

.huge .trackInfo {
  position: absolute; /* 絕對定位 */
  top: 10px; /* 緊貼 iframe 頂部 */
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  flex-wrap: wrap;
  font-size: 1.5rem;
  z-index: 10;
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
}

.huge .progressContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute; /* 絕對定位 */
  bottom: 5px; /* 緊貼 iframe 底部 */
  margin: 0;
  padding: 0 5% 0 5%;
  width: 90%; /* 進度條寬度 */
  z-index: 10; /* 確保在 iframe 上層 */
}

.huge .volumeControl {
  position: relative;
  display: flex;
  justify-content: left;
  bottom: 10%;
  left: 0;
  z-index: 10;
  margin-left: 5%;
  padding: 0;
  width: 30%;
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
}

.huge .controlPanel {
  position: absolute; /* 絕對定位 */
  bottom: 0;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  gap: 10px;
  z-index: 10;
}

.huge .controlPanel .button {
  outline: none;
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
}

.huge .timeDisplay {
  display: flex;
  justify-content: left;
  width: max-content;
  margin-top: 5px;
  font-size: 1.5rem;
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
}

.huge .progressBar::-webkit-slider-thumb {
  margin-top: -10px;
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #76c7c0;
  border-radius: 50%;
  cursor: pointer;
}

.huge .progressBar::-webkit-slider-runnable-track {
  height: 5px;
  border-radius: 5px;
  background: linear-gradient(
    to right,
    #76c7c0 0%,
    #76c7c0 var(--value),
    #e0e0e0 var(--value),
    #e0e0e0 100%
  ); /* 使用渐变来表示已滑过部分 */
}

.playerContainer iframe {
  border: none; /* 移除邊框 */
  border-radius: 5px;
  pointer-events: none !important;
}

.playerContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.trackInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1%;
  flex-wrap: wrap;
  user-select: text;
  font-size: calc(0.8vw + 0.8vh);
}

.progressContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.1%;
}

.progressBar {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: auto;
  background: #e0e0e0;
  border-radius: calc(0.5vw + 0.5vh);
}

.progressBar::-webkit-slider-thumb {
  margin-top: -5px;
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #76c7c0;
  border-radius: 50%;
  cursor: pointer;
}

.progressBar::-webkit-slider-runnable-track {
  height: 5px;
  border-radius: 5px;
  background: linear-gradient(
    to right,
    #76c7c0 0%,
    #76c7c0 var(--value),
    #e0e0e0 var(--value),
    #e0e0e0 100%
  ); /* 使用渐变来表示已滑过部分 */
}

@keyframes move {
  from {
    background-position: -200%;
  }
  to {
    background-position: 200%;
  }
}

.timeDisplay {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: calc(0.6vw + 0.6vh)
}

.volumeControl {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

.controlPanel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.playlistContainer {
  flex: 1;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  outline: 2px solid var(--fallback-bc);
  overflow-y: scroll;
}

.playlistContainer::-webkit-scrollbar {
  width: 5px;
}

.playlistContainer::-webkit-scrollbar-thumb {
  background: #90c293;
  border-radius: 2.5px;
}

.playlistContainer::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

.playlistContainer h1 {
  font-size: 1.2rem;
}

.playlistContainer ul {
  list-style-type: none;
  padding: 0;
}

.playlistContainer li:hover {
  /* text-decoration: underline; */
  cursor: default;
}

.author {
  font-size: 0.8rem;
  color: grey;
  margin-top: 5px;
  text-decoration: none;
  font-size: 0.8rem;
  margin-top: 5px;
}

.addedBy {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 0.8rem;
  color: grey;
}

.trackElement {
  margin-top: 7.5px;
  padding: 12px 12px;
  border-radius: 15px;
  background-color: var(--bc);
  box-shadow: 0 1px 3px 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.trackElement.active {
  outline: 2px solid #86ab89;
}

.trackElement.inactive {
  outline: 2px solid var(--bc);
}

.thumbnail {
  width: 80px;
  height: 45px;
  border-radius: 1%;
  margin-right: 10px;
}

.jump {
  display: inline-block;
}

.animate {
  animation: jump 0.5s forwards;
}

.removeButton {
  background: transparent;
  border: none;
}

.removeButton:hover {
  cursor: pointer;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
