<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
    <title>Index Page</title>
    <noscript>
      <p>
        此網頁需要支援 JavaScript 才能正確運行，請先至你的瀏覽器設定中開啟
        JavaScript。
      </p>
    </noscript>
  </head>
  <body onload="getTheme()">
    <div data-theme="dark">
      <div class="content-container">
        <h1>Hello, World!</h1>
        <a id="time"></a>
      </div>

      <script src="{{ url_for('static', filename='js/footer.js') }}"></script>
      <script>
        initFooter();

        function updateTime() {
          const now = new Date();
          const formattedTime = now.toLocaleString("en-US", {
            timeZone: "Asia/Taipei",
            hour12: false,
            hour: "2-digit",
            minute: "2-digit",
            second: "2-digit",
          });
          document.getElementById("time").innerHTML =
            "Now time is " + formattedTime;
        }

        updateTime();
        setInterval(updateTime, 1000);
      </script>
    </div>
  </body>
</html>
